
.center-container {
    position: relative; 
    text-align: center;
}



.center-container img {
    border: 1px solid #6078E0; 
    box-sizing: border-box; 
}



.btn-newUser {

    width: 250px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #F5F6FA; 
    color: rgba(60, 60, 67, 0.6);
    padding: 30px 45px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; 
}

.btn-newUser:hover {
    background-color: #6078E0; 
    color: #FFFFFF; 
    opacity: 1; 
}


.image-container {
    position: relative;
    text-align: center;
}


.back-link {
    position: absolute;
    top: 10%; 
    left: 14%; 
    color: #6078E0; 
    text-decoration: none;
    font-size: 13px; 
    z-index: 10; 
}

.btn-container{
    padding: 12px 130px; 
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 28px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#newFamilyButton{
    position: absolute;
    bottom: 50%; 
    left: 50%;
    transform: translateX(-50%);
   

}

#existingFamilyButton{
    position: absolute;
    bottom: 30%; 
    left: 50%;
    transform: translateX(-50%);
   

}