

.center-container {
    position: relative;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-container {
    position: relative;
    text-align: center;
    max-width:100%;
}

.image-container img{
    width:100%;
    height:auto;

}


.back-link {
    position: absolute;
    top: 10%;
    left: 14%;
    color: #6078E0;
    text-decoration: none;
    font-size: 13px;
    z-index: 10;
}

.photo-upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEEFB; 
    color:#6078E0; 
    flex-direction: column;
    padding: 15px;
    border: none; 
    outline: none; 
    cursor: pointer;
    font-size: 14px; 
    text-align: center;
    position: absolute;
    top: 32%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
}

/*Hidden file input */
#photoUpload {
    display: none;
}

.input-container {
    width: 260px; 
    padding: 0 15px;
    position:absolute;
    left: 50%;
    top:55%;
    transform: translate(-50%, -50%);
    background-color: #F5F6FA; 
    color: #3C3C43; 
    border: none; 
    border-radius: 5px; 
    box-sizing: border-box; 
    outline: none; 
    font-size: 13px;  
    text-indent: 2px; 
}


#babyName {
   
    border: none; 
    box-shadow: none; 
    background-color: #F5F6FA;
    color: #3C3C43;
    padding: 12px; 
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}



.gender-select {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    top:65%;
    transform: translate(-50%, -50%); 
    display: flex;
    max-width: 100%; 
    display: flex;
    border-radius: 10px;
}

#boyButton, #girlButton {
    flex: 1;
    padding: 10px 50px;
    font-size: 14px; 
    border-radius: 10px; 
    cursor: pointer;
    border:none;
    background-color: #F5F6FA; 
    color: rgba(60, 60, 67, 0.6);
   
}

#boyButton:hover, #girlButton:hover {
    background-color: #6078E0; 
    color:#FFFFFF;
}


.date-weight-container {
    position: absolute;
    left: 49%;
    top:78%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    gap:10%;
    display: flex;
    width: auto; 
   
}

#birthDate, #birthWeight {
    background-color: #F5F6FA;
    color: #3C3C43;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px; 
    max-width: 80px;
}

#birthDate {
    flex: 2; 
    max-width: none;    
}

#birthWeight {
    flex: 1;     
}


#confirmButton {
    position: absolute;
    left:50%;
    bottom:10%;
    transform: translateX(-50%);
    background-color: #6078E0;
    color: #FFFFFF;
    border: none;
    width: 100%; 
    max-width: 260px; 
    padding: 10px 20px; 
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px; 
    font-weight: 600;
}


#boyButton.selected, #girlButton.selected {
    background-color: #6078E0;
    color: #FFFFFF;
}

#boyButton:not(.selected):hover, #girlButton:not(.selected):hover {
    background-color: #6078E0; 
    color: #FFFFFF;
}


.photo-preview {
    position: absolute;
    top: 32%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    overflow: hidden; 
    background-size: cover;
    background-position: center;
    display: none; 
}